@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3 class="table">
	SurveySwap is a service that helps researchers get responses from their surveys.
	Users can create a survey on SurveySwap, or link to an external site where their survey is hosted.
	Users can also take surveys that have been posted by other users.
</h3>
