@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SurveySwap</h1>
    <p><a href="@Url.Action("Create","User")" class="btn btn-primary btn-lg">Register Here</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Post a Survey</h2>
        <p>Posting a survey requires you to take two other random surveys</p>
        <p><a class="btn btn-default" href="@Url.Action("Create","Survey")">Post</a></p>
    </div>
    <div class="col-md-4">
        <h2>Take a Survey</h2>
        <p>Participate in a Survey and increase the likelihood yours is taken</p>
        <p><a class="btn btn-default" href="@Url.Action("TakeSurvey")">Participate</a></p>
    </div>
    <div class="col-md-4">
        <h2>About SurveySwap</h2>
        <p><a class="btn btn-default" href="@Url.Action("About")">Learn More</a></p>
    </div>
</div>